:root {
    --tb-bg: #11140f;
    --tb-fg: #e1e4da;
    --tb-accent: #a4d396;
    --tb-accent-fg: #10380c;
    --tb-secondary: #3c4b37;
    --tb-border: #43483f;
    --tb-warning-bg: #93000a;
    --tb-warning-fg: #ffdad6;
}