:root {
    --tb-bg: #1a1111;
    --tb-fg: #f1dedd;
    --tb-accent: #ffb3af;
    --tb-accent-fg: #571d1c;
    --tb-secondary: #5d3f3d;
    --tb-border: #534342;
    --tb-warning-bg: #93000a;
    --tb-warning-fg: #ffdad6;
}