:root {
    --tb-bg: #1a110f;
    --tb-fg: #f1dfda;
    --tb-accent: #ffb59e;
    --tb-accent-fg: #561f0e;
    --tb-secondary: #5d4037;
    --tb-border: #53433f;
    --tb-warning-bg: #93000a;
    --tb-warning-fg: #ffdad6;
}